:root{
margin:0;
padding:0;
}

.App{
    /* height: 100vh; */
    background-image: url('../public/marvel_bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
   background-size: cover;
    /* opacity: 0.2; */
    /* backdrop-filter:; */
    background-color: rgba(82, 82, 82, 0.888);
    min-height: 100vh;
}
